<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="mypythonhander2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Atl_Dockeryv2\venv\Scripts\python.exe|C:\inetpub\wwwroot\Atl_Dockeryv2\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Atl_Dockeryv2" />
        <add key="WSGI_HANDLER" value="Atl_Dockery.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="Atl_Dockery.settings" />
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Atl_Dockeryv2\example1.log" />
    </appSettings>
</configuration>
